/.XMachineDescriptionLabelProvider.java._trace
/.XMachineLabelProvider.java._trace
/.XMachineDescriptionLabelProvider.xtendbin
/.XMachineLabelProvider.xtendbin
/XMachineDescriptionLabelProvider.java
/XMachineLabelProvider.java
