<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://soton.ac.uk/models/eventb/featureinclusion/2017"
            class="ac.soton.eventb.featureinclusion.provider.FeatureinclusionItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
     
      <extender
            uri="http://emf.eventb.org/models/core/machine/2014"
            class="ac.soton.eventb.featureinclusion.provider.FeatureinclusionItemProviderAdapterFactory$CoreChildCreationExtender"/>
     
   </extension>

</plugin>
 