/.XMachineRuntimeModule.java._trace
/.XMachineStandaloneSetup.java._trace
/.XMachineRuntimeModule.xtendbin
/.XMachineStandaloneSetup.xtendbin
/XMachineRuntimeModule.java
/XMachineStandaloneSetup.java
