<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2016,2018 University of Southampton.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        University of Southampton - initial API and implementation
 -->

<plugin>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="ac.soton.eventb.xtext.cheatsheet.category"
            name="%cheatSheetCategory">
      </category>
      <cheatsheet
            category="ac.soton.eventb.xtext.cheatsheet.category"
            composite="true"
            contentFile="cheatsheets/BasicTutorial.xml"
            id="ac.soton.eventb.xtext.cheatsheet.basicTutorial"
            name="%basicTutorialName">
      </cheatsheet>
   </extension>

</plugin>
