/MachineRootContentProvider.java
/XMachineContentProvider.java
/XMachineNavigatorLabelProvider.java
/XMachineNavigatorObject.java
/XMachineActionProvider.java
/.MachineRootContentProvider.xtendbin
/.XMachineActionProvider.xtendbin
/.XMachineContentProvider.xtendbin
/.XMachineNavigatorLabelProvider.xtendbin
/.XMachineNavigatorObject.xtendbin
