<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2016,2020 University of Southampton.
   
    This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 2.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-2.0/
   
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        University of Southampton - initial API and implementation
 -->

<plugin>
   <extension
         point="org.eventb.core.scModuleTypes">
      <processorType
            class="ac.soton.xeventb.xcontext.validation.XContextMarkerModule"
            id="XContextMarkerModule"
            name="Generate XContext Markers"
            parent="org.eventb.core.contextModule">
      </processorType>
   </extension>
   <extension
         point="org.eventb.core.configurations">
      <configuration
            id="base"
            name="XContext additional Static Checking">
         <scModule
               id="ac.soton.xeventb.xcontext.XContextMarkerModule">
         </scModule>
      </configuration>
   </extension>

</plugin>
