<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="ac.soton.eventb.xtext.ui.XTextConvert"
            name="%XTextConvertName">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ac.soton.xeventb.internal.ui.XTextConvertHandler"
            commandId="ac.soton.eventb.xtext.ui.XTextConvert">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:fr.systerel.explorer.navigator.view">
         <command
               commandId="ac.soton.eventb.xtext.ui.XTextConvert"
               label="%XTextConvertLabel"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="ac.soton.eventb.xtext.ui.isMachineRoot">
                  </reference>
                  <reference
                        definitionId="ac.soton.eventb.xtext.ui.isContextRoot">
                  </reference>
                  <reference
                        definitionId="ac.soton.eventb.xtext.ui.isProject">
                  </reference>
               </or>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="ac.soton.eventb.xtext.ui.isMachineRoot">
         <and>
            <count
                  value="1">
            </count>
            <iterate
                  operator="or">
               <instanceof
                     value="org.eventb.core.IMachineRoot">
               </instanceof>
            </iterate>
         </and>
      </definition>
      <definition
            id="ac.soton.eventb.xtext.ui.isContextRoot">
         <and>
            <count
                  value="1">
            </count>
            <iterate
                  operator="or">
               <instanceof
                     value="org.eventb.core.IContextRoot">
               </instanceof>
            </iterate>
         </and>
      </definition>
      <definition
            id="ac.soton.eventb.xtext.ui.isProject">
         <and>
            <count
                  value="1">
            </count>
            <iterate
                  operator="or">
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
            </iterate>
         </and>
      </definition>
   </extension>

</plugin>
