<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated inclusionfeature -->
      <package
            uri="http://soton.ac.uk/models/eventb/featureinclusion/2017"
            class="ac.soton.eventb.featureinclusion.FeatureinclusionPackage"
            genModel="model/inclusionfeature.genmodel"/>
   </extension>

</plugin>
